.externo_tarjeta {
    width: 400px;
    border-radius: 25%;
    background-color: black;
    text-align: center;
    color: white;
    border: 3px solid gray;
}

.externo_tarjeta p{
    color: gray;
}

.externo_tarjeta  img {
    width: 100px;
    background-color: white;
    border-radius: 20%;
}